coordinator/mnt/
coordinator/config/exec_config.json
coordinator/topo/*.*
coordinator/scripts/*.py
coordinator/results*
coordinator/METIS/
coordinator/GKlib/
coordinator/test_log
coordinator/batch_test_log
coordinator/process_results.py
coordinator/util/mvs/partition/core.py
agent/bin/*
agent/tmp/
agent/server_config.json.bak
dataproc/tmp/
dataproc/*-plot/
run.log
kill.log
pid.txt
figures/
raw_results/
/results
/factor.py
/solve.py
perf*
.vscode/
__pycache__/
tstenv/
!placeholder
!agent/tmp/topo/test_topo
!agent/tmp/test_mnt/
!agent/tmp/test_exec_config.json